{% extends 'Inventory/base.html' %}

{% block title %}
Purchases
{% endblock %}

{% block content %}
    <div class="table-name">
        <h1 class="ingredients">Purchases</h1>
        <a href="{% url 'addpurchase' %}">Make new purchase</a>
    </div>
        <table class="inventory-table">
            <thead>
                <tr>
                    <th>Menu Item</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Date</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
            {% for i in purchase_list %}
                <tr>
                    <td>{{ i.menu_item.title }}</td>
                    <td>{{ i.quantity }}</td>
                    <td>€{{ i.total_sum }}</td>
                    <td>{{ i.timestamp }}</td>
                    <td class="delete"><a href="{% url 'purchasedelete' i.pk %}">❌</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
{% endblock %}